.prefab-tile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}
.prefab-tile {

    height:100px;
    display: flex;
    font-size: 0.8rem;
    border: 1px solid rgba(255,255,255,0.5);
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.1);
    cursor: pointer;

}

.component-area {
    border-top:1px solid yellow;
    padding: 10px;
}

.component-wrapper {
    margin-top: 20px;
    border-top: 1px dashed white;
}